body {
  font-family: "Inter", sans-serif;
  text-wrap: pretty;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 500;
  text-wrap: balance;
}

section {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    padding: 50px;
}

.kaartje-wrapper {
    max-width: 800px;
    min-height: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFDF4;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 10px 30px #00000010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease;
}

.kaartje-wrapper:hover {
    min-height: 100%;
}

.kaartje-wrapper:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(STLdevelopment/assets/Logo_placeholder.svg);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.top-bar {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    background-color: black;
}

.top-bar svg {
    height: 26px;
}

.top-bar ul {
    list-style-type: none;
    padding: unset;
    display: flex;
    margin: unset;
}

.top-bar li:not(:last-child):after {
    content: '-';
    margin: 0 10px;
}

:is(.top-bar, .footer-bar) :is(li, p) {
    color: white;
}

.main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    padding: 30px;
    flex-grow: 2;
}

.main-section .main-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-section .main-left .hero-container .icon-box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.main-section .main-left .hero-container h1 {
    margin: unset;
}

.main-section .main-left p {
    margin: unset;
    position: relative;
    overflow: hidden;
}

.main-section .main-left p:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #FFFFFF00 0%, #FFFDF4 50%);
    transform: translatey(0%);
    transition: .3s ease;
    transition-delay: .3s;
}

.kaartje-wrapper:hover .main-left p:before {
    transform: translatey(100%);
}

.main-section .main-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sub-main-section {
    max-height: 0px;
    transition: .3s ease-out 0s;
    transition-delay: .3s;
}

.kaartje-wrapper:hover .sub-main-section {
    max-height: unset;
    padding: 0 30px 30px 30px;
}

.sub-main-section-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.sub-main-section svg {
    height: 54px;
    width: 54px;
    transform: translatey(100%);
    opacity: 0;
    transition: .3s ease-out 0s;
    transition-delay: .5s;
}

.kaartje-wrapper:hover .sub-main-section svg {
    opacity: 1;
    transform: translatey(0%);
}

.kaartje-wrapper:hover .sub-main-section svg:nth-child(2) {
    transition-delay: .65s;
}

.kaartje-wrapper:hover .sub-main-section svg:nth-child(3) {
    transition-delay: .8s;
}

.kaartje-wrapper:hover .sub-main-section svg:nth-child(4) {
    transition-delay: .95s;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    padding: 16px 30px;
    background-color: black;
}

.footer-bar :is(.email, .phone) {
    max-width: fit-content;
}

.footer-bar .icon-box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer-bar p {
    margin: unset;
}

.footer-bar svg {
    width: 20px;
    height: 20px;
}